<?xml version="1.0" encoding="UTF-8"?>
<!--  Launches apriltag detector node properly configured for plywood maze worlds -->

<launch>

  <arg name="param_file_name" default="tag_sizes.yaml" doc="Specify a yaml param file, e.g.: tags.yaml"/>

  <!-- Double check that these topics are configured correctly -->
  <arg name="image_topic" default="/udacity_bot/camera1/image_raw" />
  <arg name="info_topic" default="/udacity_bot/camera1/camera_info" />

  <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
    <!-- Remap the topic required by the node to the topics that exist in the system -->
    <remap from="image_rect" to="$(arg image_topic)" />
    <remap from="camera_info" to="$(arg info_topic)" />

    <!-- Optional: Subscribe to the compressed stream-->
    <param name="image_transport" type="str" value="compressed" />

    <!-- Select the tag family: 16h5, 25h7, 25h9, 36h9, or 36h11(default) -->
    <param name="tag_family" type="str" value="36h11" />

    <!-- Enable projected optical measurements for more accurate tag transformations -->
    <!-- This exists for backwards compatability and should be left true for new setups -->
    <param name="projected_optics" type="bool" value="true" />

    <!-- Describe the tags. Size is expressed in mts. and equal to the length of one of the sides of its black border -->
    <!-- The detected AprilTags will appear with the 'frame_id' tf label in RVIZ -->
    <rosparam param="tag_descriptions" command="load" file="$(find apriltag_robot_pose)/config/$(arg param_file_name)"/>

  </node>
</launch>
